*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(32, 32, 32);
    color: white;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
}
.logo-photo{
    width: 120px;
}
.manu{
    display: flex;
}
.item{
    margin-left: 10px;
    padding-right: 7px;
    cursor: pointer;
    font-size: 18px;
}
.banner-image{
    width: 300px;
}

.banner-contener{
    display: flex;
    background-image: url("images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-text{
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

.about-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding: 10px;
}